<app-header [isQuestionary]="false" [isFilter]="false"></app-header>

<div class="settings-wrapper">
  <form [formGroup]="settingsForm" class="form-wrapper">
    <div class="form-input">
      <label for="first-name">First Name</label>
      <input id="first-name" pInputText [formControl]="firstName">
      <small>Type your first name</small>
      @if (hasError('firstName', 'required')) {
        <small class="error-text">First name should be filled</small>
      }
      @if (hasError('firstName', 'maxlength')) {
        <small class="error-text">Length exceed {{maxLength}}</small>
      }
    </div>

    <div class="form-input">
      <label for="last-name">Last Name</label>
      <input id="last-name" pInputText [formControl]="lastName">
      <small>Type your last name</small>
      @if (hasError('lastName', 'required')) {
        <small class="error-text">Last name should be filled</small>
      }
      @if (hasError('lastName', 'maxlength')) {
        <small class="error-text">Length exceed {{maxLength}}</small>
      }
    </div>

  </form>

  <p>Complete the form to enable button -> TODO: it's not wroking yet, it will be available soon.</p>
  <button type="submit" pButton [disabled]="!settingsForm.valid" label="Submit"></button>

  <div class="buttons-wrapper">
    <button type="button" pButton label="Primary"></button>
    <button type="button" pButton severity="secondary" label="Secondary"></button>
    <button type="button" pButton severity="danger" label="Danger"></button>
  </div>

</div>
