button + button {
    margin-left: 15px;
}

.buttons-wrapper {
    padding-top: 15px;
}

.form-wrapper {
    max-width: 400px;
}

.form-input {
    display: block;
}

.settings-wrapper {
    padding: 15px 0 0 15px;
}