<div>
    <p-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Register</h2>
            <div class="field">
                <label for="register-email">Email</label>
                <input id="register-email" pInputText formControlName="email" required>
                @if (form.controls.email.invalid && form.controls.email.touched) {
                    <small class="error-text">Please provide a valid email address</small>
                }
            </div>
            <div class="field">
                <label for="register-password">Password</label>
                <p-password
                    inputId="register-password"
                    formControlName="password"
                    [feedback]="false"
                    [toggleMask]="true">
                </p-password>
                @if (form.controls.password.invalid && form.controls.password.touched) {
                    <small class="error-text">Please provide a valid password</small>
                }
            </div>
            <div class="field">
                <label for="register-confirm-password">Repeat Password</label>
                <p-password
                    inputId="register-confirm-password"
                    formControlName="confirmPassword"
                    [feedback]="false"
                    [toggleMask]="true">
                </p-password>
                @if (form.hasError('notmatched') && form.controls.confirmPassword.touched) {
                    <small class="error-text">Please repeat password</small>
                }
            </div>
            <button type="submit" pButton label="Register" [disabled]="!form.valid"></button>
            <a routerLink="/login">Login</a>
        </form>
      </p-card>
</div>
