<div class="main">
    <app-header (questionaryChangeEvent)="questionaryChangeEvent($event)" (filter)="filterChangeEvent($event)"></app-header>
    <div class="details">
        <div *ngFor="let question of questions; let index = index">
            <form [formGroup]="questionsForm" >
                <app-question 
                    [questionNumber]="index+1"
                    [question]="question"
                    [questionControlName]="question.id.$numberInt.toString()">
                </app-question>
            </form>
        </div>
    </div>
</div>
