@import '../../config/colors';

:host {
    width: 100%;
}

.main {
    background: $white;
    left: 300px;
    min-height: 100vh;
    padding-left: 15px;
    position: absolute;
    transition: 0.5s;
    width: calc(100% - 330px);
}

.main.active {
    left: 80px;
    width: calc(100% - 110px);
}