@import '../../config/colors';

.topbar {
    align-items: center;
    background-color: $blue;
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
}

.topbar:last-child {
    text-align: end;
    padding-right: 15px;
}

.toggle {
    cursor: pointer;
}

mat-icon {
    font-size: 40px;
    width: 40px;
}

.title {
    color: $white;
}

/* Responsive design */
@media (max-width: 480px) {
    .toggle {
        z-index: 1000;
    }

    .topbar {
        align-items: initial;
        flex-direction: column;
        height: 125px;
        padding-bottom: 150px;
    }
}