@import '../../config/colors';

.topbar {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
}

.topbar:last-child {
    text-align: end;
    padding-right: 15px;
}

.toggle {
    cursor: pointer;
    font-size: 1em;
}

.icon img {
    height: 40px;
}

.title,
.dropdown,
.filter {
    color: $blue;
}

#filterName,
#questionaryName {
    background-color: $white;
    border-color: $blue;
    color: $blue;
    font-weight: 700;
    height: 40px;
    border-radius: 10px;
}

/* Responsive design */
@media (max-width: 480px) {
    .toggle {
        z-index: 1000;
    }

    .topbar {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 150px;
    }
}