<div class="topbar">
  <div class="toggle" (click)="toggle()">
    <mat-icon color="primary">menu</mat-icon>
  </div>
  <div class="title">
    <h1>AWS</h1>
  </div>

  @if (isFilter) {
    <mat-form-field appearance="fill" color="primary" class="header--dropdown">
      <mat-label>Section filter</mat-label>
      <mat-select [(value)]="filterName" (selectionChange)="setFilter($event)">
        @for (section of SECTION; track section) {
          <mat-option [value]="section">{{section}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  @if (isQuestionary) {
    <mat-form-field appearance="fill" color="primary" class="header--dropdown">
      <mat-label>Questionary</mat-label>
      <mat-select [(value)]="questionaryName" (selectionChange)="getSelectedQuestionary($event)">
        @for (questionary of QUESTIONARIES; track questionary) {
          <mat-option [value]="questionary">{{questionary}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  @if (!isFilter && !isQuestionary) {
    <div class="title">
      <h1>Settings</h1>
    </div>
  }
</div>