<div class="topbar">
    <div class="toggle" (click)="toggle()">
        <span class="icon"><img src="assets/menu.svg"></span>
    </div>
    <div class="title">
        <h1>AWS</h1>
    </div>
    <div class="dropdown">
        <label for="questionaryName">Select a questionary: </label>
        <select [(ngModel)]="questionaryName" name="questionaryName" id="questionaryName" (change)="getSelectedQuestionary($event)">
        <option *ngFor="let questionary of QUESTIONARIES" [value]="questionary">{{questionary}}</option>
        </select>
    </div>
</div>