<div class="topbar">
  <div class="toggle" (click)="toggle()">
    <i class="pi pi-bars toggle-icon"></i>
  </div>
  <div class="title">
    <h1>AWS</h1>
  </div>

  @if (isFilter) {
    <div class="header--dropdown">
      <label class="header--label" for="section-filter">Section filter</label>
      <p-select
        inputId="section-filter"
        [options]="SECTION"
        [(ngModel)]="filterName"
        (onChange)="setFilter($event)"
        appendTo="body">
      </p-select>
    </div>
  }

  @if (isQuestionary) {
    <div class="header--dropdown">
      <label class="header--label" for="questionary-select">Questionary</label>
      <p-select
        inputId="questionary-select"
        [options]="QUESTIONARIES"
        [(ngModel)]="questionaryName"
        (onChange)="getSelectedQuestionary($event)"
        appendTo="body">
      </p-select>
    </div>
  }

  @if (!isFilter && !isQuestionary) {
    <div class="title">
      <h1>Settings</h1>
    </div>
  }
</div>
