@import './config/colors';

:host {
    width: 100%;
}

.main {
    background: $white;
    left: 300px;
    min-height: 100vh;
    position: absolute;
    transition: 0.5s;
    width: calc(100% - 315px);
}

.main.active {
    left: 80px;
    width: calc(100% - 95px);
}

/* Responsive design */
@media (max-width: 768px) {
    .main {
        left: 0;
        width: calc(100% - 15px);
    }

    .main.active {
        left: 80px;
        width: calc(100% - 95px);
    }
}

@media (max-width: 480px) {
    .main.active ::ng-deep .toggle {
        left: initial;
        position: fixed;
        right: 15px;
        top: 10px;
    }
}