<h2>{{questionNumber}}. {{question?.question_plain}}</h2>

<table>
  <tbody>
    @for (option of question?.prompt?.answers; track option; let index = $index) {
      <tr
        [class.wrong-answer]="showResponse && isWrongResponse(index)"
        [class.correct-answer]="showResponse && isCorrectResponse(index)">
        @if (isAssessmentType(ASSESSMENT_TYPE.RADIO)) {
          <td>
            <input type="radio" id="{{questionControlName}}{{index}}" formControlName="{{questionControlName}}" value="{{index}}">
            <label for="{{questionControlName}}{{index}}">{{getOptionText(option)}}</label>
          </td>
        }
        @if (isAssessmentType(ASSESSMENT_TYPE.CHECKBOX)) {
          <td>
            <input type="checkbox" id="{{questionControlName}}{{index}}" formControlName="{{questionControlName}}" value="{{index}}">
            <label for="{{questionControlName}}{{index}}">{{getOptionText(option)}}</label>
          </td>
        }
      </tr>
    }
    <tr>
      <td class="button-row">
        <button type="button" pButton label="Result" (click)="toggleResult()"></button>
        <button type="button" pButton label="Explanation" severity="secondary" (click)="toggleExplanation()"></button>
      </td>
    </tr>
    <tr>
      @if (showExplanation) {
        <td [innerHtml]="question?.prompt?.explanation"></td>
      }
    </tr>
  </tbody>
</table>
