@use "../../config/colors" as *;

h2 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 18px 0 14px;
}

table tbody tr td label {
  margin-left: 15px;
}

table {
  width: 100%;
}

.button-row {
  padding-top: 10px;
}

button + button {
  margin-left: 10px;
}

.correct-answer {
  background: green;
}

.wrong-answer {
  background: red;
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.18rem;
    margin: 14px 0 12px;
  }
}
