@import '../../config/colors';

table tbody tr td label {
    margin-left: 15px;
}

table {
    width: 100%;
}

button {
    background: $blue;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    height: 25px;
    margin-right: 15px;
}

.correct-answer {
    background: green;
}

.wrong-answer {
    background: red;
}