@import '../../config/colors';

table tbody tr td label {
    margin-left: 15px;
}

table {
    width: 100%;
}

.button-row {
    padding-top: 10px;
}

button + button {
    margin-left: 10px;
}

.correct-answer {
    background: green;
}

.wrong-answer {
    background: red;
}