<h2>{{questionNumber}}. {{question?.question_plain}}</h2>

<table>
    <tbody>
        <tr *ngFor="let option of question?.prompt?.answers, let index = index"
        [class.correct-answer]="showResponse && isResponseOfIndex(index)">
            <td *ngIf="isAssessmentType(ASSESSMENT_TYPE.RADIO)">
                <input type="radio" formControlName="{{questionControlName}}" value="{{index}}">
                <label for="{{questionControlName}}">{{getOptionText(option)}}</label>
            </td>
            <td *ngIf="isAssessmentType(ASSESSMENT_TYPE.CHECKBOX)">
                <input type="checkbox" formControlName="{{questionControlName}}" value="{{index}}">
                <label for="{{questionControlName}}">{{getOptionText(option)}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="toggleResult()">Result</button>
                <button (click)="toggleExplanation()">Explanation</button>
            </td>
        </tr>
        <tr>
            <td *ngIf="showExplanation" [innerHtml]="question?.prompt?.explanation"></td>
        </tr>
    </tbody>
</table>
