<div class="navigation" [class.active]="layoutService.navigationActive()">
    <ul>
        <li>
            <a>
                <span class="icon"><img src="assets/logo-amazon.svg"></span>
                <span class="title">AWS</span>
            </a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="PATH.DASHBOARD" (click)="onNavigationItemSelected()">
                <i class="pi pi-list nav-icon"></i>
                <span class="title">Questions</span>
            </a>
        </li>
        <li [routerLinkActive]="'active'">
            <a [routerLink]="PATH.SETTINGS" (click)="onNavigationItemSelected()">
                <i class="pi pi-cog nav-icon"></i>
                <span class="title">Settings</span>
            </a>
        </li>
        <li (click)="onLogout()">
            <a>
                <i class="pi pi-sign-out nav-icon"></i>
                <span class="title">Logout</span>
            </a>
        </li>
    </ul>
    <div class="theme-switch">
        <p-toggleswitch
            inputId="theme-toggle"
            (onChange)="onSetTheme()"
            [(ngModel)]="isThemeSelected">
        </p-toggleswitch>
        <label for="theme-toggle">Theme</label>
    </div>
</div>
