<div class="navigation">
    <ul>
        <li>
            <a>
                <span class="icon"><img src="assets/logo-amazon.svg"></span>
                <span class="title">AWS</span>
            </a>
        </li>
        <li (click)="activeLink($event)" [ngClass]="{'hovered': dashboardRLRef.isActive}">
            <a [routerLink]="PATH.DASHBOARD" routerLinkActive="active" #dashboardRLRef="routerLinkActive">
                <i class="pi pi-list nav-icon"></i>
                <span class="title">Questions</span>
            </a>
        </li>
        <li (click)="activeLink($event)" [ngClass]="{'hovered': settingsRLRef.isActive}">
            <a [routerLink]="PATH.SETTINGS" routerLinkActive="active" #settingsRLRef="routerLinkActive">
                <i class="pi pi-cog nav-icon"></i>
                <span class="title">Settings</span>
            </a>
        </li>
        <!-- <li (click)="activeLink($event)" [ngClass]="{'hovered': settingsRLRef.isActive}">
            <a [routerLink]="PATH.LOGIN" routerLinkActive="active" #settingsRLRef="routerLinkActive">
                <i class="pi pi-sign-in nav-icon"></i>
                <span class="title">Log In</span>
            </a>
        </li>
        <li (click)="activeLink($event)" [ngClass]="{'hovered': settingsRLRef.isActive}">
            <a [routerLink]="PATH.LOGOUT" routerLinkActive="active" #settingsRLRef="routerLinkActive">
                <i class="pi pi-sign-out nav-icon"></i>
                <span class="title">Log Out</span>
            </a>
        </li> -->
    </ul>
    <div class="theme-switch">
        <p-toggleswitch
            inputId="theme-toggle"
            (onChange)="onSetTheme()"
            [(ngModel)]="isThemeSelected">
        </p-toggleswitch>
        <label for="theme-toggle">Theme</label>
    </div>
</div>
